<div class="fcmargin fcmargin1">
<h1 class="game">GAME ON!!</h1>

<form  class="center" action="/rival" method="post">
<p class="enter_name"> Player two, you will be "O". <br> Please select a game...</p>	
	<br>
			<select name="player_two">
   				<option value="SequentialAI">SequentialAI</option>
  				<option value="RandomAI">RandomAI</option>
        		<option value="Human">Human</option>
  			</select>
  	<br>
  	<br>
<button id="welcome" type="submit" value="Start"><span style="cursor:pointer">Submit</button></span>
</form> 
</div>     



 