<center><h1>GAME ON!!</h1></center>
<form action="/output" method="post">
	<h3>Player One, you will be "X", please select a game...</h3>
			<select name="player_one">
   			<option value="SequentialAI">SequentialAI</option>
  			<option value="RandomAI">RandomAI</option>
  			</select>
			<br>		
	<h3> Player two, you will be "O", please select a game...</h3>	
			<select name="player_two">
   			<option value="SequentialAI">SequentialAI</option>
  			<option value="RandomAI">RandomAI</option>
  			</select>
  			<br>
  			<br>
			<button type="submit" value="Start"><span style="cursor:pointer">Submit</button></span>



 