<!DOCTYPE html>
<html>
	<head>
	<title><%=@title%></title>
	</head>
	<body>
		<ul>
			<li><a href= "/">HOME</a></li>
			<li><a href= "https://en.wikipedia.org/wiki/Tic-tac-toe" target="_blank">WikiRules</a></li>
			<li><a href= "/rubbish">Rubbish</a></li>
		</ul>

	<%=yield%>
	</body>
	<footer>
	Mined Minds
	</footer>