<div class="fcmargin">

		<p class="enter_name">Please enter your name?</p>
		<form class="center" action="/player_2_choice" method="post">
	    	<input type="text" name="player" placeholder="Name Here!">
	    	<input id="welcome" type="submit"><span style="cursor:pointer"></span>
		</form>
	
</div>	
