<div class="fcmargin fcmargin1">

<h1 class="center"><%=welcome_message%></h1>
<!--     
<h3 class="center"><%=message%></h3> -->
<br>
    <form action="/player_one" method="post">  
    <img  class="center-block" src="img/TTT.jpg" alt="TTT Logo">
<br>     
    <p class="center" ><button id="welcome" type="submit" value="submit"><span style="cursor:pointer"><%=enter%></button></span></p>   
    </form>

</div>